<div class="page-container">
<div class="row">
    <div class="card">
        <img width="100px" height="100px"
        src="../../assets/pencil-square.svg" class="card-img-top">
            <br>
            <p class="card-text">Students apply for the scholarship here</p>
            <a routerLink="/apply" role="button"
                class="btn stretched-link btn-lg btn-block text-center">
                <br>
                Apply
            </a>
    </div>

    <div class="card">
        <img width="100px" height="100px"
        src="../../assets/people.svg" class="card-img-top">
            <br>
            <p class="card-text">Committee members click here for selection process</p>
            <a routerLink="/committee" role="button"
               class="btn stretched-link btn-lg text-center">
               <br>
                Committee
            </a>
        
    </div>
</div>
</div>